@using webbanxe.Utilities
@model IList<Menu>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor

<div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0" style="background:#deddda">
        <a href="index.html" class="navbar-brand p-0">
            <h1 class="m-0"><i class="fa fa-user-tie me-2"></i>BuyUrBike</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                @foreach (var menu in Model.Where(m=>m.Levels == 1).OrderBy(n=>n.MenuOrder))
                {
                    var Pid = menu.MenuID;

                    string url = Functions.TitleSlugGeneration("", menu.MenuName, menu.MenuID);

                    if( !string.IsNullOrEmpty(menu.Link))
                    {
                        url = menu.Link;
                    }

                    var Smenu = Model.Where(p => p.ParentID == Pid).OrderBy(p => p.MenuOrder).ToList();

                    @if (Smenu.Count == 0)
                    {
                        <a href="/@url" class="nav-item nav-link">@menu.MenuName</a>
                    }
                    else
                    {
                        <div class="nav-item dropdown">
                            <a href="/@url" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">@menu.MenuName</a>
                            <div class="dropdown-menu m-0">
                            @foreach(var smn in Smenu)
                            {
                                    string url1 = Functions.TitleSlugGeneration("", smn.MenuName, smn.MenuID);
                                    if( !string.IsNullOrEmpty(smn.Link))
                                    {
                                        url = smn.Link;
                                    }
                                    <a href="/@url1" class="dropdown-item">@smn.MenuName</a>   
                            }
                            </div>
                        </div>
                    }
                }
            </div>
            <button type="button" class="btn text-primary ms-3" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fa fa-search"></i></button>

            @if (@httpContextAccessor.HttpContext.Session.GetString("username") != null)
            {
                <a href="./account/logout" class="btn btn-primary">
                    Đăng xuất
                </a>
            }
            else
            {
                  <a href="./account/login" class="btn btn-primary">
                    Đăng nhập
                </a>
            }

            @if (@httpContextAccessor.HttpContext.Session.GetString("username") != null)
            {
                <a href="./cart" class="btn btn-primary" style="margin-left:20px">
                    Giỏ hàng
                </a>
            }
            
              
         
           
    </nav>
</div>

